@keyframes Skew {
    0%   {transform: skewX(0deg);}
    50%  {transform: skewX(var(--anglex));}
    100%  {transform: skewX(0deg);}
  }
  @keyframes move {
    0%   {transform: translate(0% , -100%);}
    50%  {transform: translate(100% , -0%);}
    100%  {transform: translate(0% , -100%);}
  }
  .SKEW
  {
      animation: Skew 1s 1;
  }
  .MOVE
  {
      animation: move 5s infinite;
  }
.GAL
{
    
    width: 50vh;
    height: 100%;
    position: relative;
    flex:1;
    z-index: 2;
    animation: move 15s infinite;
    filter: var(--FLT);

    object-fit: cover;
    backface-visibility: hidden;
    transition: all 1.5s;
    transform: scale(1);
}
#clipper
{
    width: 100vw;
    height: 80%;
    position: absolute;
    display: flex;
    clip-path: inset(0% 8% 0% 8%);
    align-items: center;
    overflow: hidden;
    height: 80%;

}
@keyframes scroll
{
    0%   {clip-path: inset(100% 0% 0% 0%);}
    50%  {clip-path: inset(0% 0% 0% 0%);}
    100%  {clip-path: inset(100% 0% 0% 0%);}
  }
.mouse
{
    /* background-image: url(../res/mouse.png); */
    width: fit-content;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
    position: absolute;
    top:100%;
    font-family: CircleReg;
    text-transform: uppercase;
    letter-spacing: 2vw;
    font-size: 2vh;
    word-wrap: normal;
    left:50%;
    transform:translate(-50% , -100%) ;
    animation: scroll 12s infinite;

}
.mouse p
{
    transform: translateY(50%);
}
.GAL:hover
{
    /* transform: scale(1.15); */
    /* width:50%; */
    transform-origin: center;
    transform: translateX(var(--mousex));  
    width: var(--actw);
    animation: none;
    transition: all 1.5s;
    filter: none;
    z-index: 3;
    /* object-position: calc(50% + var(--mousex)) var(--mousey);  */

}
.GALHOVER
{
    filter:var(--FLT);
    opacity: 0.5;
}
@keyframes Large {
    0%   {}
    50%  {}
    100%  {width: 50%;}
  }
#Grid
{
    --anglex:0deg;

    
    --FLT:grayscale(0);
    --actw:0px;
    /* display: grid; */
    min-width: 100%;
    width: auto;
    height: 100%;
    display: flex;
    position: absolute;
    transition: all 0.5s;
    

    /* display: grid; */
    /* grid-template-columns:repeat(3, 30vw);
    grid-template-rows:  minmax(100%, 1fr); ;
    scroll-behavior: smooth;
    grid-auto-flow: column;
    transition: all 1s;
    grid-auto-columns: 35vw; */
}

