#blocker
{
    width: 100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 99;
    background-color: black;
}
#progress
{
    width:auto;
    height:5vh;
    font-family: DR;
    font-size:5vh;
    text-align: center;
    line-height: 5vh;
    position: absolute;
    color: white;
    transition: transform 0.1s;
    animation: rotate 12s infinite;
    transform-origin: 0% 0% ;
}
@keyframes rotate
{
    0% {transform: translate(var(--mox),var(--moy)) rotate(0deg)   ;transform-origin: 50% 50% ;}
    100% {transform: translate(var(--mox),var(--moy)) rotate(360deg)  ;transform-origin: 50% 50% ;}
}
