#blocker
{
    width: 100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 99;
    background-color: black;
}
#progress
{
    background: url(../res/Loading.svg);
    background-size: 512px 512px;

    width:512px;
    height:512px;
    font-family: DR;
    font-size:5vh;
    text-align: center;
    line-height: 5vh;
    position: absolute;
    color: white;
    transition: transform 0.1s;
    animation: rotate 22s infinite;
}
#prec
{
    position: absolute;
    background-color: rgb(59, 61, 60);
    width: 715px;
    height: 715px;
    mix-blend-mode: multiply;
    transform: translate(var(--mox),var(--moy)) translate(-50%,-50%);
    -webkit-clip-path:inset(var(--Prog) 0% 0% 0%);
    transition: all 1s;
}
@keyframes rotate
{
    0% {transform: translate(var(--mox),var(--moy)) translate(-50%,-50%) rotateY(0deg) rotateZ(0deg) ;}
    100% {transform: translate(var(--mox),var(--moy)) translate(-50%,-50%)  rotateY(360deg) rotateZ(360deg);}
}
