#HAMBURGER
{
    display:none;

    width: 32px;
    height: 32px;
    background-image: url('../res/grid.svg');
    background-position: center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: invert();
    mix-blend-mode: difference;
    position: absolute;
    z-index: 11;
    top: 0px;
    right: 0px;
    transform:  translate(-50%,50%);
}

@media only screen and (max-width: 767px)
{ 
    :root
    {
        --itemx:0;
        --itemy:0;
        --mox:50vw;
        --moy:50vh;
    }
    #dot
    {
        display: none;
    }
    #GalleryV2
    {
        perspective: 10000px !important;
        overflow-y: scroll!important;
    }
    #GalleryV2>img
    {
        transform: none!important;
        width: 1024px!important;
        height: 512px!important;
        
    }
    logo-logo
    {
        width:120px;
        height: 120px;
    }
    logo-logo >img
    {
        width:208px;
        height: 120px;
    }
    #AB
    {
        transform: translate(-50% , -50%) rotateZ(90deg);
    }
    body>#Hero
    {
    width: calc(var(--actw) * 1.0);
    height: auto;
    transition: none;
    }
    #BAR{
        display: none;

        width: 100vw;
        height: 100vh;
        margin-bottom: 25% !important;
        padding: 0;
        align-items: center;
        flex-direction: column;
        mix-blend-mode: normal;
        background-color: black;
    }
    #BAR>div
    {
       
        font-size: 30px !important;
        text-align: center;
        width:50%;
        transform: none !important;
        padding: 0;
    }
    #HAMBURGER
    {
        display:block;
    }
    .ShowMenu
    {
        display: flex;
    }
}