::-webkit-scrollbar {
    display: none;
  }
  html {
    scroll-behavior: smooth;
  }
#GalleryV2
{
    width: 100%;
    height: calc(100% );
    position: absolute;
    top:0px;
    left:0px;
    background-color: black;
    visibility: hidden;
    display: flex;
    z-index: 2;
    flex-direction:column;
    perspective: calc(100vw * 1.5);
    overflow-y: scroll;
    perspective-origin: right;
    transition: tranform 1s;
    transform: translateY(var(--deltag));
}
@keyframes A1
{
    /* 0%{object-rot: 5% 100%;}
    50%{object-position: 100% 0%;}
    100%{object-position: 5% 100%;} */
    0%{transform: rotate3d(0.2,0.5,-0.2,75deg) scale(0.85);}
    50%{transform: rotate3d(0.2,0.5,-0.2,75deg) scale(0.9);}
    100%{transform: rotate3d(0.2,0.5,-0.2,75deg) scale(0.85);}

}
@keyframes A2
{
    /* 0%{object-rot: 5% 100%;}
    50%{object-position: 100% 0%;}
    100%{object-position: 5% 100%;} */
    0%{transform: rotate3d(0.2,0.5,-0.2,90deg) scale(var(--imagelastscale));}
    50%{transform: rotate3d(0.2,0.5,-0.2,0deg)  translateX(calc(50vw - 50%))  scale(0.5);}
    100%{transform:  translateX(calc(50vw - 50%)) scale(0.9);}

}
@keyframes A3
{
    /* 0%{object-rot: 5% 100%;}
    50%{object-position: 100% 0%;}
    100%{object-position: 5% 100%;} */
    0%{transform:  translateX(calc(50vw - 50%)) scale(0.9);}

    50%{transform: rotate3d(0.2,0.5,-0.2,0deg)  translateX(calc(50vw - 50%))  scale(0.5);}
    100%{transform: rotate3d(0.2,0.5,-0.2,90deg) scale(0.6);}

}
#HDR
{
    width: 25vw;
    height: 100vh;
    top: 0px;
    right: 0px;
    text-align: center;
    line-height: 100vh;
    color: white;
    font-family: DR;
    opacity:var(--op);
    padding-right: 5vw;
    font-size: 5vh;
    position: absolute;
    word-wrap: break-word;
    transition: all 1s;
    transform: translateY(var(--scrollY));
}
 #Hero
{
    width: var(--actw);
    height: 85%;
    position: absolute;
    top:calc(50% + 0px);
    left: 50%;
    filter: none;
    perspective: none;
    animation: none;
    transform: rotateY(0deg) translate(-50% , -50%) scale(var(--displayimg))!important;
    transition: all 1s;
    z-index: 12;
}
#GalleryV2 > img
{
    width: 1024px;
    height: 1024px;
    position: relative;
    overflow: visible;
    flex:2;
    z-index: var(--disp) !important;
    opacity:var(--op);
    animation: A1 12s infinite;
    filter: var(--FLT);
    transform: rotate3d(0.2,0.5,-0.0,90deg);
    object-fit: cover;
    backface-visibility: hidden;
    transition: all 0.8s;
}
#GalleryV2 > img:hover
{

    /* animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: center;
    transform:translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%)) !important;
    height: 90%; */
    animation-fill-mode: forwards;
    transition: all 0.5s;
    
    filter: none;
    z-index: 3;
}
