/* 
    This CSS file was created by OwL for use by pointer.js, 
     witch can be found on https://seattleowl.com. 
*/

#pointer-dot {
    --hovering:"";
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    /* border: 6.5px solid white; */
    position: fixed;
    z-index: 1000;
    mix-blend-mode:difference;
    backface-visibility: hidden;
    pointer-events: none;
    transform: translate(-50%,-50%) translate(var(--mox) , var(--moy)) ;

}
@keyframes hov {
    0%   {transform:scale(0.9); transition: transform 0.2s;}
    50%  {transform:scale(2.2); transition: transform 0.2s;}
    100%  {transform:scale(2); transition: transform 0.2s;}
}
.HoverAnim
{
    background-color: saddlebrown;
}
.Clicked
{
    padding:0;
    transition: padding 0.5s;
}
#pointer-ring {
    left: 0;
    backface-visibility: hidden;

    top: 0;
    width: 0;
    overflow: visible;
    height: 0;
    background-color: rgb(49, 49, 49);
    padding: 2.7321756894790601vh;
    position: relative;
    border-radius: 50%;
    z-index: 2;
    mix-blend-mode:difference;
    pointer-events: none;
    transition: all 0.5s;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    clip-path: circle(60% at 50% 50%);
    
        
}
@keyframes scale {
    0%   {transform:scale(1);}
    75%  {transform:scale(1.5);}
    100%  {transform:scale(1.5);}
  }

html {
    cursor: default !important;
}

a {
    cursor: default !important;
}