p{
    cursor:default;
    opacity: var(--opc);
    transition: opacity 1s;
}
:root
{
    --mousex:50vw;
    --mousey:50vh;
    --moy:50vh;
    --displayimg:0;
    --disp:2;
    --state:null;
    --op:1;
    --mox:50vw;
    --opc:0;
    --imagelastscale:0.6;
    --dot:0px;
    --Prog:100%;

}
html
{
    overflow: hidden;
    margin: 0;
    padding: 0; 
    backface-visibility: hidden;
    transform: scale3d(100%,100%,100%);
}
body
{
    position: absolute;
    left: 0%;
    right: 0%;
    background-color: black ;
    width:100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
   
}

@keyframes table
{
    0%{transform: translateX(-100%);}
    50%{transform: translateX(0%);}
    100%{transform: translateX(100%);}
}
@keyframes null
{
    0%{-webkit-clip-path:inset(100% 0% 100% 0%);}
    100%{-webkit-clip-path:inset(100% 0% 100% 0%);}
}
@keyframes txt
{
    0%{transform:skewY(10deg) translateY(-50px); -webkit-clip-path:inset(100% 0% 100% 0%);}
    100%{transform:skewY(0deg) translateY(0px);-webkit-clip-path:inset(-300% 0% -300% 0%);}
}
.textanim
{
    animation: txt 1s 1;
    animation-fill-mode: forwards;
}
canvas {
    object-fit: cover;
    width: 974px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 50%;
    backface-visibility: hidden;
    transform:translateZ(0px) translateX(-50%);
    overflow: hidden;
    /* filter:saturate(2.6) brightness(0.9); */
  }
  @keyframes hue
{
    0%{filter:  hue-rotate(0deg) saturate(2); -webkit-filter:  hue-rotate(0deg) saturate(2);}
    50%{filter:  hue-rotate(180deg) saturate(1); -webkit-filter:  hue-rotate(180deg) saturate(1);}
    100%{filter:  hue-rotate(0deg) saturate(1); -webkit-filter:  hue-rotate(0deg) saturate(1);}
}
.stain
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    
   animation: hue 12s infinite;

}
::selection{
    color:none;
    background: none;
}
.BAR
{
    width: 100%;
    display: flex;
    z-index: 5;
    position: absolute;
    top: 0%;
    right: 0%;
    mix-blend-mode: difference;

}
#BAR3
{
    -webkit-clip-path:inset(0% 0% 100% 0%);
    transition: clip-path 7s;
    visibility: hidden;
}
#defaultCanvas0
{
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1000;

}
video
{
    object-fit: cover;
    width:947px;
    height: 1080px;
    position: fixed;
    top: 0%;
    animation: hue 9s infinite;
    left: calc(50% - 473.5px);
    transform: scale(calc(100vh / 1080px));
    /* transform:translateZ(0px) translateX(-0%); */
    overflow: hidden;
    /* transform-origin: 50% 50%;
    transform: translateX(-50%) scale(1) ; */
}
skills-skills
{
    width: 100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;

}
#defaultCanvas1
{
        background-color: black;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 50%;
        position: relative;
        -webkit-filter: brightness(1.8);
        backface-visibility: hidden;
        overflow: hidden;
        /* filter:saturate(2.6) brightness(0.9); */
      
}

#BAR
{
    -webkit-clip-path:inset(0% 0% 0% 0%);
    padding-left: 30px;
    padding-right: 30px;
    height: 6.250vw;
    
    width: 50%;
    display: flex;
    z-index: 10;
    position: absolute;
    top: 0%;
    right: 0%;
    
    transition: -webkit-clip-path 2s;
    mix-blend-mode: difference;
}

#BAR2
{
    height: 100vh;
    top:0px;
    padding-left: 14vw;
    padding-right: 14vw;
    justify-items: center;
    z-index: -1;
    width: 72vw;
}

#BAR > div
{
    height: auto;
    padding-left:1.823vw;
    padding-right: 1.823vw;
    color: white;
    flex:1;
    justify-content: center;
    text-align: center;
    font-size: 1.563vw;
    display: flex;
    font-family: 'CircleReg';
    font-weight: lighter;
    -webkit-transition: transform 0.5s;
    letter-spacing: 0.12em;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;

}
.BAR > span
{
    flex:3;
}
#BAR>div>p
{
    -webkit-transition: transform 0.5s;
    -webkit-font-smoothing: antialiased;
    flex:1;

}
#BAR > div >p:hover
{
    -webkit-transition: transform 0.3s;
    animation-name: none;
    transform-origin: 50% 50%;
    transform:  translate(-50%, -50%) translateX(var(--itemx) ) translateY(var(--itemy)) !important;
    -webkit-font-smoothing: antialiased;
}

#works
{
    position: absolute;
    background-color: white;
    width:100%;
    display: none;
    height: 100%;
    top:0%;
    align-items: center;
    left: 0px;
    
}
.HIDE
{

    animation-fill-mode:forwards;
    animation-name:HD;
    animation-duration:2s;
    animation-iteration-count:1;
}
.SHOW
{
    background-color: black;
    animation-fill-mode:forwards;
        animation-name:SW;
        animation-duration:2s;
        animation-iteration-count:1;
}
@keyframes HD
{
    0%{visibility:visible;z-index: -10; -webkit-clip-path: circle(1000% at var(--mox) var(--moy))}
    25%{visibility:visible;z-index: -10;-webkit-clip-path: circle(1000% at var(--mox) var(--moy))}
    80%{visibility:visible;z-index: -10;-webkit-clip-path: circle(1000% at var(--mox) var(--moy));}
    100%{visibility:hidden;z-index: -10;-webkit-clip-path: circle(0% at var(--mox) var(--moy));}
}
@keyframes SW {
    0%   {filter:  invert(1) brightness(0.4); mix-blend-mode: difference; -webkit-clip-path: circle(0% at var(--mox) var(--moy)) ; visibility:visible;z-index: 3;}
    25%  {filter:  invert(1)brightness(0.4);mix-blend-mode: difference;-webkit-clip-path: circle(2% at var(--mox) var(--moy));visibility:visible;z-index: 3;}
    80%  {filter:  invert(1)brightness(0.8);mix-blend-mode: difference;-webkit-clip-path: circle(5% at var(--mox) var(--moy));visibility:visible;z-index: 3;}
    100%  {filter:  invert(0)brightness(1);mix-blend-mode: normal;-webkit-clip-path: circle(300% at var(--mox) var(--moy));visibility:visible;z-index: 3;}
  }
home-screen
{
    backface-visibility: hidden;
    transform: rotate3d(0,0,0,45deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    visibility: hidden;
    transition: all 2s;
}
/*#HOME:hover
{
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) scale(0.5);
} */
@keyframes isofly {
    0%   {}
    50%  {transform: rotateX(70deg) rotateY(0deg) rotateZ(-45deg) scale(0.5);}
    100%  {transform:  translateY(800%) rotateX(70deg) rotateY(0deg) rotateZ(-45deg) scale(0.5)  ;}
  }
#dot
{
    position: absolute;
width: 9px;
height: 9px;
left: var(--dot);
transform: translateY(-100%);
top: calc(6.250vw / 2);
border-radius: 50%;
z-index: 100;
transition: left 2s;
mix-blend-mode: difference;

background: #FFFFFF;
}
logo-logo
{
    position: absolute;
    left: 0px;
    width: 6.250vw;
    top: 0px;
    height: 6.250vw;
    z-index: 9;
    font-size:48px;
    color: white;
    letter-spacing: 0.12em;
    transform: translateX(25%);
    mix-blend-mode: difference;
    font-family: 'CircleBold';
    background-color: transparent;
    
}
logo-logo>img
{
    margin: 0px;
    width: 10.833vw;
    height: 100%;
}
.bar2
{
    top:80%;
    transform: translateY(-100%);
}
#logo
{
background-image: url("../res/LOGO.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: relative;
mix-blend-mode: multiply;
backface-visibility: hidden;
height: 512px;
width: 512px;;
text-align: center;
display: block;

-webkit-transition : mix-blend-mode 11100ms linear
}

#bigtext
{
    letter-spacing: 5px;
    font-size: 3vh;
    font-family: CircleBold;
    transform: scale(1.5);
}
#BAR2 > div p
{
    margin: 0%;
}
#email
{
    font-size: 6.4814814814814814vh;
    margin-left: 0.625vw;
    margin-right: 0.625vw;
    text-align: center;
    top:100vh;
    transform: translateY(-150%);
    left: 0px;
    position: absolute;
    color: white;
    border-radius: 5px;
    font-family: 'CircleReg';
    height:6vh;
    width: calc(100%);
    line-height: 6vh;
    font-weight: lighter;
    text-transform: uppercase;
    transition: all 1s;
}
#mail
{
    width: 3vh;
    height:3vh;
    border-radius: 50%;
    background-color: white;
    top: 120px;
    position: absolute;
    left:7vw;
    transform: translateX(-50%);
}
#copyright
{
    position: absolute;
    top:100%;
    left:0%;
    height: 60px;
    width: 60px;
    color: white;
    mix-blend-mode: difference;
    text-align: center;
    font-family: "CircleReg";
    font-size: 2vh;
    z-index: 12;
    line-height: 60px;
    text-overflow: none;
    cursor: default;
    display: inline-block;
    white-space: nowrap;
    transform: translateY(-100%) translateX(25%);
}
#AB
{
    position: absolute;
    top:50%;
    left:50%;
    color: white;
    mix-blend-mode: difference;
    transform: translate(-50% , -50%)   rotate3d(0.0,0.0,0.1,calc(var(--par)));
    text-transform: uppercase;
    text-align: center;
    font-family: "DR";
    font-size: 7.5vw;
    line-height: 212px;
    letter-spacing: 0.1em;
    width: fit-content;
    z-index: 5;
}
#email:hover
{
    filter: invert(0);
    background-color: orange;
}
#intro
{
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: 120px;
    padding-left: 5vw;
    line-height: calc(120px - 2.96vh);
    top: 0px;
    mix-blend-mode: difference;
    left:0px;
    position: absolute;
    font-size: 1.4814814814814814vh;
    font-family: 'CircleBold';
}
.Contact
{
    transform: translateY(calc(-250%));
    font-family: CircleEB;
    mix-blend-mode: normal;
    text-transform: none;
    color: white;
    font-size: 10vh;
}
#intro > p 
{

}
.shadow
{
    background: transparent;
    position: absolute;
    width: 13.333333333333334vw;
    right:0px;
    height: 100%;
    opacity: 1;
    -webkit-transition: transform 0.5s;
    backface-visibility: hidden;
 
}
.shadow:hover
{

    -webkit-transition: transform 0.5s;

}
.shadow:hover ~ .mbutton
{
    opacity: 1;
    transform: translateX(-226px);
    -webkit-transition: all 1s;
}
.shadow:hover
{
   

}
.mbutton
{
    position: absolute;
    text-align: center;
    color:white;
    width: 64px;
    height: 100%;
    top: 50%;
    right:-156px;
    font-size: 12px;
    font-family: 'Bahnschrift';
    opacity: 0;
    -webkit-transition: all 1s;
 
}

.arrow 
{
    /* background-image: url("../res/menu.webp"); */
    position: relative;
    text-align: center;
    opacity:1;
    width: 6.537282941777323vh;
    height:6.537282941777323vh;
    border-radius: 2px;
    top: 50%;
    left:calc(50% - 32px);
    background: rgb(255, 255, 255);
    opacity: 1;
    -webkit-transition: all 1s;
 
}
.arrow:hover
{
    transform: scaleX(3);
    background-color: black;
}
.arrow > a
{
    top:50%;
}
#TagCloud
{
    position: absolute;
    top: 0px;
    width: 100vw;
    visibility: hidden;
    height: 100vh;
    backface-visibility: hidden;
    transform: translate3d(0px,0px,0px);
    left:0px;
    background-color: rgb(0, 0, 0);
    display: block;
}
#TagCloud .tagcloud
{
    transform: translate3d(0px,0px,0px);

    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
#TagCloud .tagcloud--item
{
    transform: translate3d(0px,0px,0px);

    color: white;
    font-family: CircleBold;
    font-size: 3vh;
    transition: all 0.5s;

}
#TagCloud .tagcloud--item:hover
{
    color: white;
    font-family: CircleBold;
    font-size: 6vh;
    opacity: 1;
    
    transition: all 0.5s;

}
#CloseButton
{
    text-align: center;
    width: 10vh;
    height: auto;
    font-size: 2vh;
    font-family: CircleReg;
    color: white;
    -webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
    position: absolute;
    top:0px;
    opacity: 0.5;
    left:100%;
    transform: translateX(-100%) translateZ(0);
    transition: transform 0.5s;

}
#CloseButton:hover
{
    opacity: 1;
    transform-origin: center;
    
}
#Sidebar
{
    background-color: transparent;
    width:calc(22.656vw);
    height: 100vh;
    top: 0px;
    left: 50%;
    transform:translateX(-50%);
    position: absolute;
}