p{
    cursor:default;
}

html
{
    backface-visibility: hidden;
}
body
{
    position: absolute;
    left: 0%;
    right: 0%;
    background-color: black ;
    width:100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    --mousex:0px;
    --mousey:0px;
    --moy:0px;
    --mox:0px;
}
@keyframes table
{
    0%{transform: translateX(-100%);}
    50%{transform: translateX(0%);}
    100%{transform: translateX(100%);}
}
b-canvas
{
    width: 100vw !important;
    height: 100vh;
    animation: table 4s infinite;
    overflow: visible;
    mix-blend-mode: overlay;
}
canvas {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: -1;
    backface-visibility: hidden;
    overflow: hidden;
    /* filter:saturate(2.6) brightness(0.9); */
  }
  @keyframes hue
{
    0%{backdrop-filter:  hue-rotate(0deg) saturate(0.8); -webkit-backdrop-filter:  hue-rotate(0deg) saturate(0.8);}
    50%{backdrop-filter:  hue-rotate(180deg) saturate(0.8); -webkit-backdrop-filter:  hue-rotate(180deg) saturate(0.8);}
    100%{backdrop-filter:  hue-rotate(0deg) saturate(0.8); -webkit-backdrop-filter:  hue-rotate(0deg) saturate(0.8);}
}
.stain
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    
   animation: hue 12s infinite;

    z-index: -1;
}
::selection{
    color:none;
    background: none;
}
.BAR
{
    width: 100%;
    display: flex;
    z-index: 3;
    position: absolute;
    top: 0%;
    right: 0%;
    mix-blend-mode: difference;

}
#BAR3
{
    -webkit-clip-path:inset(0% 0% 100% 0%);
    transition: clip-path 7s;
    visibility: hidden;
}
#BAR
{
    -webkit-clip-path:inset(0% 0% 0% 0%);
    padding-left: 5vw;
    padding-right: 5vw;
    width: 25vw;
    height: 120px;
    line-height: calc(120px - 28px);
    transition: -webkit-clip-path 2s;
    mix-blend-mode: normal;
}
#BAR2
{
    height: 100vh;
    top:0px;
    padding-left: 14vw;
    padding-right: 14vw;
    justify-items: center;
    z-index: -1;
    width: 72vw;
}
.BAR > div
{
    text-align:center;
    height: auto;
   
    color: white;
    flex:1;
    font-size: 14px;
    font-family: 'CircleReg';
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    letter-spacing: 2px;
    backface-visibility: hidden;
    -webkit-font-smoothing:antialiased;

}
.BAR > span
{
    flex:3;
}
#BAR > div:hover
{
     -webkit-transform: translateY(5px); 
    transform:scale(2);
}
#works
{
    position: absolute;
    background-color: white;
    width:100%;
    display: none;
    height: 100%;
    top:0%;
    z-index: 1;
    align-items: center;
    left: 0px;
    
}

@keyframes WORK {
    0%   {filter:  invert(1) brightness(0.4); mix-blend-mode: difference; -webkit-clip-path: circle(0% at var(--mox) var(--moy)) ;}
    25%  {filter:  invert(1)brightness(0.4);mix-blend-mode: difference;-webkit-clip-path: circle(2% at var(--mox) var(--moy));}
    80%  {filter:  invert(1)brightness(0.8);mix-blend-mode: difference;-webkit-clip-path: circle(5% at var(--mox) var(--moy));}
    100%  {filter:  invert(0)brightness(1);mix-blend-mode: normal;-webkit-clip-path: circle(300% at var(--mox) var(--moy));}
  }
#HOME
{
    backface-visibility: hidden;
    transform: rotate3d(0,0,0,45deg);
    width: 100%;
    height: 100%;
    animation-timing-function:cubic-bezier(2, 0.1, 0.2, 0.1);
    transition: all 2s;
}
/*#HOME:hover
{
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) scale(0.5);
} */
@keyframes isofly {
    0%   {}
    50%  {transform: rotateX(70deg) rotateY(0deg) rotateZ(-45deg) scale(0.5);}
    100%  {transform:  translateY(800%) rotateX(70deg) rotateY(0deg) rotateZ(-45deg) scale(0.5)  ;}
  }
#TEXT:hover #pointer-ring
{
    transform: scale(2);
}
#TEXT
{
    position: absolute;
    left: calc(50%);
    width: 100%;
    top: 0px;
    height: 120px;
    transform: translate(-50%,0%);
    background-color: transparent;
    text-align: center;
    font-size: 4.811vh;
    line-height: calc(120px - 9.62vh);
    color: white;
    z-index: 5;
    mix-blend-mode: difference;
    font-family: 'CircleBold';
    font-weight: bolder;
}
.bar2
{
    top:80%;
    transform: translateY(-100%);
}
#logo
{
background-image: url("../res/LOGO.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: relative;
mix-blend-mode: multiply;
backface-visibility: hidden;
height: 512px;
width: 512px;;
text-align: center;
display: block;

-webkit-transition : mix-blend-mode 11100ms linear
}
#bigtext
{
    letter-spacing: 5px;
    font-size: 3vh;
    font-family: CircleBold;
    transform: scale(1.5);
}
#BAR2 > div p
{
    margin: 0%;
}
#email
{
    font-size: 6.4814814814814814vh;
    margin-left: 0.625vw;
    margin-right: 0.625vw;
    text-align: center;
    top:100vh;
    transform: translateY(-150%);
    left: 0px;
    position: absolute;
    color: white;
    border-radius: 5px;
    font-family: 'CircleReg';
    height:6vh;
    width: calc(100%);
    line-height: 6vh;
    font-weight: lighter;
    text-transform: uppercase;
    transition: all 1s;
}
#mail
{
    width: 3vh;
    height:3vh;
    border-radius: 50%;
    background-color: white;
    top: 120px;
    position: absolute;
    left:7vw;
    transform: translateX(-50%);
}
#AB
{
    position: absolute;
    top:50%;
    left:50%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 32px;
    mix-blend-mode: difference;
    transform: translate(-50% , -50%);
    text-align: center;
    font-family: "DR";
    width: fit-content;
    font-size: 78px;
    z-index: 5;
}
#email:hover
{
    filter: invert(0);
    background-color: orange;
}
#intro
{
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: 120px;
    padding-left: 5vw;
    line-height: calc(120px - 2.96vh);
    top: 0px;
    mix-blend-mode: difference;
    left:0px;
    position: absolute;
    font-size: 1.4814814814814814vh;
    font-family: 'CircleBold';
}
.Contact
{
    transform: translateY(calc(-250%));
    font-family: CircleEB;
    mix-blend-mode: normal;
    text-transform: none;
    color: white;
    font-size: 10vh;
}
#intro > p 
{

}
.shadow
{
    background: transparent;
    position: absolute;
    width: 13.333333333333334vw;
    right:0px;
    height: 100%;
    opacity: 1;
    -webkit-transition: transform 0.5s;
    backface-visibility: hidden;
 
}
.shadow:hover
{

    -webkit-transition: transform 0.5s;

}
.shadow:hover ~ .mbutton
{
    opacity: 1;
    transform: translateX(-226px);
    -webkit-transition: all 1s;
}
.shadow:hover
{
   

}
.mbutton
{
    position: absolute;
    text-align: center;
    color:white;
    width: 64px;
    height: 100%;
    top: 50%;
    right:-156px;
    font-size: 12px;
    font-family: 'Bahnschrift';
    opacity: 0;
    -webkit-transition: all 1s;
 
}

.arrow 
{
    /* background-image: url("../res/menu.webp"); */
    position: relative;
    text-align: center;
    opacity:1;
    width: 6.537282941777323vh;
    height:6.537282941777323vh;
    border-radius: 2px;
    top: 50%;
    left:calc(50% - 32px);
    background: rgb(255, 255, 255);
    opacity: 1;
    -webkit-transition: all 1s;
 
}
.arrow:hover
{
    transform: scaleX(3);
    background-color: black;
}
.arrow > a
{
    top:50%;
}
#TagCloud
{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    left:0px;
    background-color: rgb(20, 20, 20);
    display: none;
}
#TagCloud .tagcloud
{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
#TagCloud .tagcloud--item
{
    color: white;
    font-family: CircleBold;
    font-size: 2vh;
    transition: all 0.5s;

}
#TagCloud .tagcloud--item:hover
{
    color: white;
    font-family: CircleBold;
    font-size: 6vh;
    opacity: 1;
    
    transition: all 0.5s;

}
#CloseButton
{
    text-align: center;
    width: 10vh;
    height: auto;
    font-size: 2vh;
    font-family: CircleReg;
    color: white;
    -webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
    position: absolute;
    top:0px;
    opacity: 0.5;
    left:100%;
    transform: translateX(-100%) translateZ(0);
    transition: transform 0.5s;
    z-index: 5;

}
#CloseButton:hover
{
    opacity: 1;
    transform-origin: center;
    
}
#Sidebar
{
    background-color: transparent;
    width:calc(22.656vw);
    height: 100vh;
    top: 0px;
    left: 50%;
    transform:translateX(-50%);
    position: absolute;
}