p{
    cursor:none;
}
html
{
    backface-visibility: hidden;
}
body
{
    position: absolute;
    left: 0%;
    right: 0%;
    background-color: black ;
    width:100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}
canvas {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-transform: scale(1.4);
  }
.stain
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: -1;
}
::selection{
    color:none;
    background: none;
}
.BAR
{
    width: 100%;
    display: flex;
    z-index: 3;
    position: absolute;
    top: 0%;
    left: 0%;
    mix-blend-mode: difference;

}
#BAR2
{
    top:80%;
    transform: translateY(-100%);
}
.BAR > div
{
    text-align:center;
    height: auto;
   
    color: white;
    flex:1;
    font-size: 3vh;
    font-family: 'Bahnschrift';
    font-weight: lighter;
    -webkit-transition: all 0.5s;
    
    backface-visibility: hidden;

}
.BAR > span
{
    flex:1;
}
#BAR > div:hover
{
    /* -webkit-transform: translateY(5px); */
}
#works
{
    position: absolute;
    background-color: white;
    width:100%;
    height: 0px;
    top:0%;
    z-index: 1;
    left: 0px;
    
}

@keyframes WORK {
    0%   {height: 0px;clip-path: circle(0% at 0% 0%);}
    50%  {height: 0px;clip-path: circle(15% at 0% 0%);}
    100%  {height: calc(100% ) ;clip-path: circle(150% at 0% 0%);}
  }
#HOME
{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    animation-timing-function:cubic-bezier(2, 0.1, 0.2, 0.1);
    transition: all 2s;
}
/*#HOME:hover
{
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) scale(0.5);
} */
@keyframes isofly {
    0%   {}
    50%  {transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) scale(0.5);}
    100%  {transform:  translateY(200%) ;}
  }
#TEXT
{
    position: absolute;
    left: calc(50vw);
    top: 50vh;
    transform: translate(-50%,-50%);
    background-color: transparent;
    -webkit-transition: color 2s;
    text-align: center;
    font-size: 13.074565883554646vh;
    color: white;
    mix-blend-mode: difference;
    font-family: 'Bahnschrift';
    font-weight: bolder;
}
.bar2
{
    top:80%;
    transform: translateY(-100%);
}
#logo
{
background-image: url("../res/LOGO.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: relative;
mix-blend-mode: multiply;
backface-visibility: hidden;
height: 512px;
width: 512px;;
text-align: center;
display: block;

-webkit-transition : mix-blend-mode 11100ms linear
}
#email
{
    background-color: white;
    flex:2;
    text-align: center;
    font-size: 2vh;
    color: black;
    border-radius: 5px;
    font-family: 'Bahnschrift';
    height:100%;
    filter: contrast(0.1);
    transform:translateY(50%);
}
#email:hover
{
    filter: contrast(1);
}
#intro
{
    background: transparent;
    text-align: center;
    color: white;
    flex:2;
    font-size: 3vh;
    font-family: 'Bahnschrift';
}
.shadow
{
    background: transparent;
    position: absolute;
    width: 13.333333333333334vw;
    right:0px;
    height: 100%;
    opacity: 1;
    -webkit-transition: transform 0.5s;
    backface-visibility: hidden;
 
}
.shadow:hover
{

    -webkit-transition: transform 0.5s;

}
.shadow:hover ~ .mbutton
{
    opacity: 1;
    transform: translateX(-226px);
    -webkit-transition: all 1s;
}
.shadow:hover
{
   

}
.mbutton
{
    position: absolute;
    text-align: center;
    color:white;
    width: 64px;
    height: 100%;
    top: 50%;
    right:-156px;
    font-size: 12px;
    font-family: 'Bahnschrift';
    opacity: 0;
    -webkit-transition: all 1s;
 
}

.arrow 
{
    /* background-image: url("../res/menu.webp"); */
    position: relative;
    text-align: center;
    opacity:1;
    width: 6.537282941777323vh;
    height:6.537282941777323vh;
    border-radius: 2px;
    top: 50%;
    left:calc(50% - 32px);
    background: rgb(255, 255, 255);
    opacity: 1;
    -webkit-transition: all 1s;
 
}
.arrow:hover
{
    transform: scaleX(3);
    background-color: black;
}
.arrow > a
{
    top:50%;
}