@font-face {
    font-family: CircleBold;
    src: url(./Circe-Bold.ttf);
  }
  @font-face {
    font-family: CircleReg;
    src: url(./Circe-Regular.ttf);
  }
  @font-face {
    font-family: CircleEB;
    src: url(./Circe-ExtraBold.ttf);
  }
  @font-face {
    font-family: DR;
    src: url(./Adieu.woff);
  }
  @font-face {
    font-family: OU;
    src: url(./Outline.woff2);
  }